<section id="icon">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Android Application</h4>
        </div>
        <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Package</th>
                        <th>Main Activity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border-top: 0;"><img src="data:image/png;base64,{{ analysis.apkinfo.icon }}"/></td>
                        <td><h4>{{analysis.apkinfo.manifest.package}}</h4></td>
                        <td><h4>{{analysis.apkinfo.manifest.main_activity}}</h4></td>
                    </tr>
                </tbody>
            </table>
    </div>
</section>