<h4>HTTP/HTTPS Requests</h4>
{% if "httpConnections"  in analysis.droidmon %}
<table class="table table-striped table-bordered" >
    <tr>
        <th>Request</th>
        <th>Response</th>
    </tr>
    {% for http in analysis.droidmon.httpConnections %}
        <tr>
            <td style="max-width: 900px;"><span class="mono" style="max-width: 900px; display:block;"><pre>{{http.request}}</pre></span></td>
            <td style="max-width: 900px;"><span class="mono" style="max-width: 900px; display:block;"><pre>{{http.response}}</pre></span></td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>No HTTP requests performed.</p>
{% endif %}