<section id="started_activities">
    <div class="alert alert-warning signature">
        <table class="table table-striped table-bordered">
        {% for call in analysis.droidmon.started_activities %}
         <table class="table table-striped table-bordered">
            {% if "cmp" in call %}
               <tr><td><h5>Intent Class: {{call.cmp}}</h5></td></tr>
            {% endif %}

            {% if "act" in call %}
                <tr><td>Intent Action: {{call.act}}</td></tr>
            {% endif %}

            {% if "extras" in call %}
                <tr><td><h5>Extras:</h5></td></tr>
                {% for extra in call.extras %}
                    <tr><td>{{extra.key}}={{extra.value}}</td></tr>
                {% endfor %}
            {% endif %}
         </table>
          &nbsp;
          &nbsp;
        {% endfor %}
        </table>
        </div>
</section>