{% if "ContentValues" in results.droidmon  %}
    <div class="alert alert-success signature">
        <h4><a href="javascript:showHide('content_values');">{% include "sections/droidmon/images/content.html" %}  Content Values</a></h4>
        <div id="content_values" style="display: none;">
            <table class="table table-striped table-bordered">
                <tr>
                    <td><span class="mono">Key</span></td>
                    <td><span class="mono">Value</span></td>
                </tr>
                {% for call in results.droidmon["ContentValues"] %}
                <tr>
                    <td><span class="mono">{{call.key}}</span></td>
                    <td><span class="mono">{{call.value}}</span></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}