{% if "registerContentObserver" in results.droidmon  %}
     <div class="alert alert-warning signature">
            <h4><a href="javascript:showHide('content_observer');">{% include "sections/droidmon/images/observer.html" %}  Content Observers</a></h4>
            <div id="content_observer" style="display: none;">
                <table class="table table-striped table-bordered">
                {% for call in results.droidmon["registerContentObserver"] %}
                <tr>
                    <td><span class="mono">{{call}}</span></td>
                </tr>
                 {% endfor %}
                </table>
            </div>
     </div>
{% endif %}