{% if "file_accessed" in results.droidmon  %}
    <div class="alert alert-success signature">
            <h4><a href="javascript:showHide('file_accessed');">{% include "sections/droidmon/images/files.html" %}  Files Accessed By Application</a></h4>
            <div id="file_accessed" style="display: none;">
                <table class="table table-striped table-bordered">
                {% for call in results.droidmon["file_accessed"] %}
                <tr>
                    <td><span class="mono"><pre>{{call}}</pre></span></td>
                </tr>
                 {% endfor %}
                </table>
            </div>
     </div>
{% endif %}