<section id="droidmon">
    <div class="section-title">
        <h4>Android Dynamic Analysis</h4>
    </div>

    {% include "sections/droidmon/commands.html" %}
    {% include "sections/droidmon/accounts.html" %}
    {% include "sections/droidmon/notifications.html" %}
    {% include "sections/droidmon/kill_process.html" %}
    {% include "sections/droidmon/dynamically.html" %}
    {% include "sections/droidmon/sms.html" %}
    {% include "sections/droidmon/register_receiver.html" %}
    {% include "sections/droidmon/keys.html" %}
    {% include "sections/droidmon/plain_text.html" %}
    {% include "sections/droidmon/content_resolver.html" %}
    {% include "sections/droidmon/start_intent.html" %}
    {% include "sections/droidmon/reflection.html" %}
    {% include "sections/droidmon/fingerprints.html" %}
    {% include "sections/droidmon/content_observer.html" %}
    {% include "sections/droidmon/shared_preferences.html" %}
    {% include "sections/droidmon/content_values.html" %}
    {% include "sections/droidmon/telephone_state_listen.html" %}
    {% include "sections/droidmon/files.html" %}
    {% include "sections/droidmon/system_prop.html" %}

</section>
